#clicky {
   border-radius: 45px;
   padding: 20px;
   width: 150px;
   height: 150px;
   cursor: pointer;
   margin-top: 20px;
}



body {
    font-family: "Rubik", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    text-color: white;
}

.container {
    text-align: center;
}
