.box{
    display: flex;
    justify-content: center;
    height: 150px;
    padding: 20px;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    color:white;
    width: 150px;
    background-color: #1c1f2b;
    border-radius: 10px;
    position: relative;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.box::after, .box::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 25%, blue 25%, transparent 25%, red);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}
.box::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}


body {
    font-family: "Rubik", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
    text-color: white;
    color: white;
}

.container {
    text-align: center;
}
