#clicky {
   border-radius: 25px;
   padding: 20px;
   width: 150px;
   height: 150px;
   cursor: pointer;
   margin-top: 20px;
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

